<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Types</title>
</head>
<body>
    <div>
        <% cardTypes.forEach(cardType => { %>
            <p><%= cardType.name %></p>
            <form action="/card-types/<%= cardType.id %>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/card-types/<%= cardType.id %>/edit">Edit</a>
        <% }) %>

        <a href="/card-types/new">Add new card type</a>
    </div>
</body>
</html>