<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Types</title>
</head>
<body>
    <div>
        <h1><%= cardType.name %></h1>
        <p><%= cardType.description %></p>
        <a href = "/card-types"> Back to card types</a>
    </div>
</body>
</html>