<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add arc</title>
</head>
<body>
    <div>
        <form action="/arcs" method="POST">
            <label for="name">Arc name:</label>
            <input type="text" id="name" name="name">
            
            <label for="description">Arc description:</label>
            <textarea id="description" name="description"></textarea>
            
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>