<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcs</title>
</head>
<body>
    <div>
        <% arcs.forEach(arc => { %>
            <p><%= arc.name %></p>
            <p><%= arc.description %></p>
            <form action="/arcs/<%= arc.id %>/delete" method="POST">
                <button type="submit">Delete</button>
            </form>
            <a href="/arcs/<%= arc.id %>/edit">Edit</a>
        <% }) %>

        <a href="/arcs/new">Add new arc</a>
    </div>
</body>
</html>