<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arcs</title>
</head>
<body>
    <div>
        <% arcs.forEach(arc => { %>
            <p><%= arc.name %></p> 
        <% }) %>

        <a href="/arcs/new">Add new arc</a>
    </div>
</body>
</html>